terraform.tfplan
terraform.tfstate
*.terraform.tfstate.lock.info
.vagrant/
.DS_Store
*.backup
.terraform/
*.log
*.bak
.*.swp
config-map-aws-auth.yaml

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
